<a [routerLink]="['/search-history']">Search History</a>
<h2>Search</h2>
<div>
  <input type="text" [(ngModel)]="searchText" placeholder="Search here" />
  <button type="button" (click)="searchWiki()">Search Wiki</button>
  <button type="button" (click)="searchGiphy()">Search Giphy</button>
</div>
<br />
<ul>
  <li *ngFor="let searchResultsEntry of wikiSearchResults">{{ searchResultsEntry }}</li>
</ul>
<ul>
  <li *ngFor="let searchResultsEntry of giphySearchResults">
    <img src="{{ searchResultsEntry.images['fixed_height_downsampled'].url }}" />
  </li>
